<ion-header-bar align-title="left" class="bar-dark">
	    <div class="h1 title">微信(16)</div>
	    <div class="buttons">
	        <button class="button no-animation button-icon icon ion-android-search">
	        </button>
	        <button class="button no-animation button-icon icon ion-android-add">
	        </button>
	    </div>
	</ion-header-bar>
<ion-view>
    <ion-content on-swipe-right="onSwipeRight()" class="color-bg">
        <ul class="list setting">
        	<li class="item item-divide" ng-click="gotoSetting()">
        		<img src="img/portrait.jpg" class="portrait">
				<div class="nickname">
					<p class="name"><strong>堂</strong></p>
					<p class="num">微信号:xx</p>
				</div>
        	</li>
        	<li class="item item-icon-left item-divide">
        		<i class="icon ion-android-drafts"></i>
        		<span class="item-text">相册</span>
        	</li>
        	<li class="item item-icon-left">
        		<i class="icon ion-android-star-outline"></i>
        		<span class="item-text">收藏</span>
        	</li>

			<li class="item  item-icon-left item-divide">
				<i class="icon ion-ios-pricetags-outline"></i>
				<span class="item-text">钱包</span>
			</li>
			<li class="item item-icon-left">
				<i class="icon ion-android-send"></i>
				<span class="item-text">卡卷</span>
			</li>

			<li class="item item-icon-left item-divide">
        		<i class="icon ion-android-happy"></i>
        		<span class="item-text">表情</span>
        	</li>

        	<li class="item item-icon-left item-divide">
        		<i class="icon ion-gear-a"></i>
        		<span class="item-text">设置</span>
        	</li>
        </ul>



		<!-- <input type="button" class="button button-positive" value="check the value" ng-click="check()"/>
		<input type="text" class="button button-calm" ng-model="abc.x" id="tt" />{{abc.x}}
		<hr>
		<div ng-repeat="value in ['red', 'green', 'blue']">
		  <label><input type="radio" ng-model="vm.color" ng-value="value">  {{value}} </label>
		</div>
		<hr>
		{{vm.color}}
		<hr> -->

    </ion-content>
</ion-view>
