<ion-header-bar align-title="left" class="bar-dark">
	    <div class="h1 title">微信(16)</div>
	    <div class="buttons">
	        <button class="button no-animation button-icon icon ion-android-search">
	        </button>
	        <button class="button no-animation button-icon icon ion-android-add">
	        </button>
	    </div>
	</ion-header-bar>
<ion-view on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
    <ion-content>
		<ul class="list">
			<li class="item  item-avatar" ng-click="goActive()">
				<img src="../img/me.png" alt="活动图标">
				<h2 class="middle_h2">热门活动</h2>
			</li>
		</ul>
		<ul class="list">
			<li class="item  item-avatar" ng-click="goTestTab()">
				<img src="../img/me.png" alt="活动图标">
				<h2 class="middle_h2">子tabs</h2>
			</li>
		</ul>
    </ion-content>
</ion-view>
